<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
	<!-- Generated via Iro -->
	<dict>
		<key>fileTypes</key>
		<array>
			<string>gluu</string>
		</array>
		<key>name</key>
		<string>mysample</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>include</key>
				<string>#main</string>
			</dict>
		</array>
		<key>scopeName</key>
		<string>source.mysample</string>
		<key>uuid</key>
		<string></string>
		<key>repository</key>
		<dict>
			<key>main</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#multi_line_comment</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(//.*)</string>
						<key>name</key>
						<string>comment.mysample</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(:[^\s\x{003b}\x{007b}\x{007d}\x{003c}\x{003e}]+)</string>
						<key>name</key>
						<string>constant.numeric.mysample</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(-[^\s\x{003b}\x{007b}\x{007d}\x{003c}\x{003e}]+)</string>
						<key>name</key>
						<string>entity.name.type.mysample</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(\$[^\s\x{003b}\x{007b}\x{007d}\x{003c}\x{003e}]+)</string>
						<key>name</key>
						<string>keyword.mysample</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(\bnew\b|\bint\b|\bbool\b|\bdouble\b|\bvector\(\w+\)|\bfalse\b|\btrue\b|\barg\b|\barg\*\b|\bstring\b|@)</string>
						<key>name</key>
						<string>keyword.mysample</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(\&apos;\w{1}\&apos;)</string>
						<key>name</key>
						<string>string.mysample</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#numeric</string>
					</dict>
					<dict>
						<key>begin</key>
						<string>(&lt;)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.mysample</string>
							</dict>
						</dict>
						<key>patterns</key>
						<array>
							<dict>
								<key>include</key>
								<string>#main__1</string>
							</dict>
						</array>
						<key>end</key>
						<string>(&gt;)</string>
						<key>endCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.mysample</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>begin</key>
						<string>(\{)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.mysample</string>
							</dict>
						</dict>
						<key>patterns</key>
						<array>
							<dict>
								<key>include</key>
								<string>#main__2</string>
							</dict>
						</array>
						<key>end</key>
						<string>(\})</string>
						<key>endCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>keyword.mysample</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>match</key>
						<string>(\bROW\b|\bCOL\b|\bSIZE\b|\bCFIT\b|\bFIT\b|\bIF\b|\bBUTTON\b|\bTEXTBOX\b|\bTEXT\b)</string>
						<key>name</key>
						<string>entity.name.type.mysample</string>
					</dict>
					<dict>
						<key>begin</key>
						<string>(\&quot;)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>string.mysample</string>
							</dict>
						</dict>
						<key>contentName</key>
						<string>string.mysample</string>
						<key>end</key>
						<string>(\&quot;)</string>
						<key>endCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>string.mysample</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>begin</key>
						<string>(\()</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>punctuation.mysample</string>
							</dict>
						</dict>
						<key>patterns</key>
						<array>
							<dict>
								<key>include</key>
								<string>#main__4</string>
							</dict>
						</array>
						<key>end</key>
						<string>(\))</string>
						<key>endCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>punctuation.mysample</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>main__1</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#main</string>
					</dict>
				</array>
			</dict>
			<key>main__2</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#main</string>
					</dict>
				</array>
			</dict>
			<key>main__3</key>
			<dict>
				<key>patterns</key>
				<array>
				</array>
			</dict>
			<key>main__4</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#numeric</string>
					</dict>
					<dict>
						<key>match</key>
						<string>(,)</string>
						<key>name</key>
						<string>punctuation.mysample</string>
					</dict>
				</array>
			</dict>
			<key>multi_line_comment</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>begin</key>
						<string>(/\*)</string>
						<key>beginCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>comment.mysample</string>
							</dict>
						</dict>
						<key>contentName</key>
						<string>comment.mysample</string>
						<key>end</key>
						<string>(\*/)</string>
						<key>endCaptures</key>
						<dict>
							<key>1</key>
							<dict>
								<key>name</key>
								<string>comment.mysample</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>multi_line_comment__1</key>
			<dict>
				<key>patterns</key>
				<array>
				</array>
			</dict>
			<key>numeric</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>match</key>
						<string>(\b\d+)</string>
						<key>name</key>
						<string>constant.numeric.mysample</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>
